.category-img-info{
    position: relative;
margin: 2em 1em;

}


.category-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.category-info h1{
    font-size: 3rem;
    color: #fff;
}

.btn-shop{
    padding: 1em 2em;
    /* color: #fff; */
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1em;
}

