.productimages{

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    background-color:#C3CEFB;
    position: relative;
    z-index: 1;
    

}

@media(max-width:810px){
.productimages div{
    display: flex;
    flex-wrap: wrap;
}
}
