*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;

}
.dress-div{
    /* display: flex; */
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
}
.dress-div h2{
    margin: 1em 0;
}
.dress-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* gap: 2em; */
    margin: 1em 0;
}


.dress-content p{
    font-size: 2rem;
    font-weight: bold;
}

.size-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    /* width: 50%; */
}

.size{
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}


.color{
    /* flex: 1; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    gap: 1em;
}


.price{
display: flex;
align-items: center;
/* width: 50%; */
gap: 1em;
}


/* .size option{
    padding: 1em 1.5em;
} */


.select-size,.select-color,.select-price{
    font-size: 1.5rem;
}







/* singleProductPage */

.ankara-shirt{
    width: 100;
    height: 50vh;
    flex: 1;
    /* background-color: rgb(131, 117, 108); */
}

.ankara-shirt img{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    object-fit: contain;
   
flex: 1;
}

.item-content{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

.content{
    line-height: 2em;
    /* background-color: rgb(179, 172, 172); */
    gap: 1em;
    flex: 1;
}

.add-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.add-container p{
    color: #78C4D4;
}

/* .add-tag div{
    border: 2px solid grey;
    width: 30px;
    height: 30px;
} */

.add-tag{
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: row;

    

}

.add-to{
    margin: 1em 0;
    padding: 0.4em 0.7em;
    border:1px solid #78C4D4 ;
}


.colors-div{
display: flex;
}

.size{
    margin-top:2em;
}

.colors-div h5{
    gap: 1.5em;
    /* margin: 1em; */
}

.select-color p{
    margin: 1.5em 0;
} 

.color-holder{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}


.inner-color{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.maroon{
    background-color: #AE431E;
}


.brown{
    background-color:#D06224;
}

.blue{
    background-color: #78C4D4;
}





/*LOGINPAGE*/



.my-h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
}


.my-h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    
}



.input1{
    outline: none;
    border: none;
    margin: 1em;
    border-bottom: 2px solid black;
    width: 700px;

}

.input2{
    border:  none;

    margin: 2em;
    outline: none;
    border-bottom: 2px solid black;
    width: 700px;
}


/* 
.rem-for{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* margin-left: 3em; */

/* } */ */
.btn {
    color: red;
}
#login-button{
    padding: .5em 1em;
    width: 80%;
    background-color: #317c7c !important;
    color: #fff;
    margin-top:3em;
    margin-left: 2em;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;


}

.check-rem{
    display: flex;
    align-items: center;
    margin-left: 6.5em;
    /* margin-right: 3em; */

}


.Forgot-password{
    margin-right: 6.5em;


}

.Forgot-password p a{
    color: rgba(50,112,141,.8);
    text-decoration: none;
}

.checkbox{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    margin: 3em 0;
}



.login-container{
    /* align-items: center; */
   
   
    display: flex;
height: 80vh;

}



.my-h3{
    border: none;
}
.background-side{
    background: linear-gradient(rgba(59,119,121,0.8),rgba(50,112,141,.8)) ,url("./pages/Images/bg-phot.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

    
}

.new-btn{
    display:flex;
    align-items: center;
    margin: 1.5em;
    justify-content: center;

}


.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading{
    /* background-color: brown; */
    width: 50%;
}


.welcome-part{
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    flex-direction: column;

    /* text-align: center; */
}

.welcome-part p p{
   font-weight: bold; 

}

.eye-icons{
    position: absolute;
    top: 50%;
    left:95%;
    font-size: 2rem;
    cursor: pointer;
}

.password-holder{
    position: relative;
}


.welcome-paragraph{
    font-size: 1.5rem;
    font-weight: bold;

}


.welcome-part h2{
    font-size: 2.5rem;
}

