.nav-wrapper{
    color: blueviolet;
    display: flex;
align-items: center;
    justify-content: space-between;

}


.input{
    border: none;
    padding: 0.5em 1em;

}

.lang{
    cursor: pointer;
    text-transform: uppercase;
    padding:0. 3em 0.3em;
margin-left: 1em;
margin-right: 1em;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    
    font-size: 1.5rem;
}

.left{
    display: flex;
    flex: 1;
    margin:1%

}


.center{
    display: flex;
    flex: 1;

    
}

.center h1{
    color: blueviolet;
}

.right{
    display: flex;
    flex: 1;
   
}

.right ul{
    display: flex;
    list-style-type: none;
    align-items: center;
   
}






.right ul a{
    color:rgb(61, 52, 52);
    text-decoration: none;
    margin: 1em;


}


.right ul a:hover
{
    color: green;
}




/*MEDIA QUERRY*/
@media(max-width:810px),(max-width:414px){

.lang{
    display: none;
}
.center h1{
    font-size: 1rem;
}

}


@media(max-width:414px){
    
}




